.info-main {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid tomato; */
  margin-right: 10px;
  /* width: 70%; */
}
img {
  margin: 30px;
  padding: 10px;
}
.btn {
  height: 30px;
  width: 130px;
  border-radius: 5px;
  font-weight: 600;
}
