.App {
  display: flex;
  background-color: rgb(26, 26, 26);
  color: white;
}
.officer-list {
  margin: 10px;
  width: 50%;
  border-right: 2px solid lightgray;
  color: white;
}
.total-officer {
  margin-left: 100px;
  margin-top: 35px;
}
